:root {
	--accent: #CC8869;
	--text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--padding: 120px;
	--transition: cubic-bezier(.4, 0, 0, 1);
    --index-size: calc(1vh + 1vw);
}

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. 
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }
*/

@font-face { src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: italic; }
@font-face { src: url("../fonts/assassin.woff2") format("woff2"); font-family: "assassin-st"; font-weight: 700; font-style: italic; }

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, article{
    height: 100%;
}

.showcase{
    background-color: #000;
    height: 100%;
    position: relative;
    color: #fff;
    overflow: hidden;
    &__content-wrapper{
        position: relative;
        z-index: 2;
        height: 100%;
        padding: var(--padding) 0;
        &::before{
            content:'';
            position: absolute;
            inset: 0;
            background: url(../images/glow.png) no-repeat center center;
            background-size: cover;
            animation: k-glow 1.8s ease infinite;
        }
    }
    &__header{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 40px;
        z-index: 3;
        font-family: assassin-st, sans-serif;
        font-size: 32px;
        color: rgb(202, 202, 202);
        span{
            color: var(--accent);
        }
    }
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        box-shadow: inset 0 0 500px #000;
    }
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background: url(../images/light.png) no-repeat center calc(var(--index-size) * -5);
        background-size: cover;
        animation: k-light 3s ease infinite;
    }
}
@keyframes k-light{
    0%{
        opacity: .3;
    }
    50%{
        opacity: .4;
    }
    100%{
        opacity: .3;
    }
}
@keyframes k-glow{
    0%{
        opacity: .6;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: .6;
    }
}
video{
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    object-fit: cover;
    object-position: center;
    opacity: .4;
}
.showcase-carousel .swiper-wrapper{
    transition: var(--transition);
}
.showcase-carousel{
    &__wrapper{
        will-change: transition, transition-duration, transform;        
    }
    &__item{
        position: relative;
        height: calc(100vh - var(--padding) * 2);
        text-align: center;
        opacity: .2;
        transform: scale(0.6);
        transition: opacity 1.2s var(--transition), transform 1.2s var(--transition);
        flex-shrink: 0;
        will-change: transform, transition;
        p{
            position: absolute;
            bottom: -85px;
            width: 100%;
            font-family: assassin-st, sans-serif;
            font-size: 32px;
            color: rgb(163, 163, 163);
            text-shadow: rgb(49, 65, 78) 0 0 10px;
        }
        &::after{
            content: '';
            width: 40vh;
            height: 8vh;
            border-radius: 100%;
            bottom: -3%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: #000;
            filter: blur(45px);
            z-index: -1;
        }
    }
    &__item.swiper-slide-active{
        opacity: .8;
        transform: scale(0.9);
    }
    &__image-wrapper > *{
        position: absolute;
        width: 100%;
        height: 100%;
        perspective: 150px;
        transform-style: preserve-3d;
    }
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: contain !important;
    }
    &__image-left{}
    &__image-right{}
}
.showcase-navigation{
    overflow: hidden;
    position: absolute;
    inset: 0;
    & > *{
        position: absolute;
        height: 100%;
        width: 10%;
        outline: none;
        cursor: pointer;
        z-index: 4;
    }
    & > *{
        &::before{
            content: '?';
            font-family: assassin-st;
            opacity: 0.3;
            transition: opacity 0.5s ease-out;
            position: absolute;            
            transform: rotate(-90deg) translate(-50%);
            left: 50%;
            top: 50%;
            font-size: 60px;
        }
        &:last-child::before{
            transform: rotate(90deg) translate(-50%);
            right: 50%;
        }
        &:hover::before{
            opacity: 1;
        }
    }
    &__prev{
        left: 0;        
    }
    &__next{
        right: 0;
    }
    & > *.swiper-button-disabled::before{
        opacity: 0;
    }
}
@media (max-width: 1400px){
    .showcase__content{
        max-width: 1200px;
        margin: 0 auto;
    }
}
